/* common style........... */
*{
  margin: 0;
}
body{
  margin: 0px 30px;
  /* width: 1300px; */
  background-color: rgba(242,242,242);
}
.btn{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 106, 80);
  border: 1px solid rgb(0, 106, 80);
  padding: 17px 34px;
  margin: 24px 0;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
}
/* common style end  */

/* header-nav  start........ */
.nav-title{
  color: rgb(14, 14, 14);
  font-size: 32px;
  font-weight: 700;
  font-family: fira Sans;
  text-align: left;
  margin: 10px;
}
.nav-btn{
  color:rgb(0, 106, 80);
  border: 1px solid rgb(0, 106, 80);
  padding: 16px 30px;
  border-radius: 8px;
  margin: 0 10px;
}
nav{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 24px 160px;
  background-color: rgb(255, 255, 255);
}
/* header nav end  */

/* header-banner............ */
.banner-title{
 color: rgba(14, 14, 14, 0.5);
 font-family: Fire Sans;
 font-size: 24px;
 font-weight: 500;
 margin: 16px 0;
  }
.banner-description{
  color:rgb(14, 14, 14) ;
  font-family: Fire Sans;
  font-weight: 700;
  font-size: 56px;
  margin: 16px 0;
  }
  .banner-pic{
   width: 475px;
   height: 330px;
  }
  .banner-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 65px;
  }
  .banner{
    display: flex;
    background-color: rgb(198, 228, 214);
    border-radius: 24px;
    margin: 43px 0px;
    padding: 80px 100px;
    justify-content: center;
    align-items: center;
  }
  /* header banner end  */

  /* main start  */
 
  /* section vision start  */
.vision-title{
  font-size: 40px;
  font-weight: 700;
  color: rgb(14, 14, 14);
  font-family: fira sans;
  text-align: left;
  margin: 24px 0;
  }
  .vision-description{
    color: black;
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0;
  }
  .digital-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    margin: 12px 0;
  }
  .digital{
    background-color:rgba(84, 144, 245, 0.2) ;
    border-radius: 16px;
    margin: 0px 24px;
    padding: 32px;
  }
  .green{
    background-color:rgb(198, 228, 214) ;
    border-radius: 16px;
    margin: 0px 24px;
    padding: 32px;
  }
  .energy{
    background-color:rgb(247, 235, 207) ;
    border-radius: 16px;
    margin: 0px 24px;
    padding: 32px;
  }
  .modern{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }
  /* section vision end  */

  /* section :start */
  .energy-1{
    background-color: rgb(255, 255, 255);
  }
  .green-1{
    background-color: rgb(255, 255, 255);
  }
  .digital-1{
    background-color: rgb(255, 255, 255);
  }
  /* section end  */

  /* section opinion start  */
  .opinion{
    background-color: rgba(255,255,255);
    padding: 32px;
    border-radius: 16px;
    margin: 24px 0;
  }
  .opinion-title{
    font-size: 40px;
    font-weight: bold;
    margin: 24px 0;
  }
  table{
    border: 1px solid gray;
    border-collapse: collapse;    
  }
  th{
    border: 1px solid grey;
    border-collapse: collapse;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    text-align: start;
    font-weight: 600;
  }
  select{
    background-color: rgba(9, 161, 92, 0.15);
    padding: 10px 14px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
  }
  .opinion-name{
    font-size: 24px;
    font-weight: bold;
  }
  .opinion-content{
    background-color: rgb(198, 228, 214);
    padding: 16px 24px;
    display: flex;
    justify-content:space-between;
  }
  /* section opinion end  */

  /* section news start  */
  .news-title{
    font-size: 40px;
    font-weight: 700;
    color: black;
    margin: 24px 0;
  }
  .news-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14,0.7);
    margin: 12px 0;
  }
  .satellite-pic{
    margin: 0 32px;
    border-radius: 24px;
  }
  .satellite-title{
    font-size: 32px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    margin: 12px 0;
  }
  .satellite-icon{
    margin: 12px 0;
  }
  .date{
    font-size: 16px;
    margin: 0 12px;
  }
  .satellite-text{
    font-size: 16px;
    margin: 12px 0;
    font-weight: 400;   
    color: rgba(14, 14, 14, 0.7);
  }
  .new-satellite{
    margin: 0 32px;
  }
  .satellite{
      border-radius: 24px;
    margin: 24px 0;
    padding: 48px;
    display: flex;
    background-color: rgb(255, 255, 255);
  }
  /* section news end  */

  /* Donate Section Start   */
  .donate{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(245, 245, 245);
  }
  .donate-title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: black;
    margin: 24px;
  }
  .donate-subtitle{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin: 24px;
    text-align: center;
  }
  li{
    list-style: none;
  }
  li a{
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    background-color:rgb(255, 255, 255) ;
    border: 1px solid rgba(14, 14, 14, 0.15) ;
    border-radius: 16px;
    padding: 26px;
    margin: 24px;
  }
   .donate-option{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
   input{
    background-color: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    font-weight: 400;

    padding: 5px 40px;
    width: 550px;
    text-align: center;
    margin:20px 32px 5px 32px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
   }
   .donate-cards{
    margin: 32px;
   }
   /* Donate end  */

   /* start footer  */
   .footer-title{
    font-size: 40px;
    font-weight: bold;
    margin: 16px;
   }
   .footer-text{
    font-size: 16px;
    font-weight: 400;
    margin: 16px;
    color: rgba(14, 14, 14, 0.7);
   }
   .foot > input{
    background-color: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.3);
    font-size: 16px;
    font-weight: 400;

    padding: 18px 40px;
    width: 550px;
    text-align: start;
    margin: 32px 0;
    border-radius: 8px;
    border: 1px solid rgba(14, 14, 14, 0.15);
   }
   .foot{
    display: flex;
    justify-content: center;
    text-align: center;
  }
   footer > span{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 24px;
   }
   .footer{
    background-color: rgb(198, 228, 214);
    border: 1px;
    border-radius: 24px;
    margin: 40px;
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   /* footer end */

           /* Quote section Start  */
   .quote-content, .quote-text{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.8);
    margin: 12px;
   }
  .quote-name{
    font-size: 20px;
    font-weight: 600;
    margin: 4px;
    padding-left: 10px;
  }
  .quote-section{  
   border: 1px;
   margin: 40px;
   padding: 50px 0px;
   background-color: rgb(255, 255, 255);
   position: relative;
   border-radius: 16px;
  }
  .quote-pic{
    position: absolute;
    top: 38px;
    left: 11px;
    opacity: 0.8;
     /* Quote section end */
     
  }
  .btn:hover{
    background-color: gray;
  }
  li a:hover{
    background-color:rgb(198, 228, 214) ;
  }
  .nav-btn:hover ,.btn-1:hover ,.btn-2:hover ,.btn-3:hover{
    background-color: gray;
  }
  .btn-1{
    background-color:rgb(84, 144, 245);
  }
  .btn-2{
    background-color: rgb(9, 161, 92);
  }
  .btn-3{
    background-color: rgb(255, 194, 57);
  }
  .card-3{
    background-color:rgb(198, 228, 214) ;
  }

  /* Dim Section Start */
  .dim-name{
    font-size: 32px;
    font-weight: bold;
    margin: 16px 0;
  }
  .dim-content{
    margin:32px 0 ;
    text-align:center;
  }
  .dim-content > a{
    margin:0 10px;
  }
  .dim{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 50px;
    margin: 80px 0;
    border-radius: 10px;
  }
  /* Dim Section end */
  .hide{
    display: none;
  }

  /* Responsive Start */

  @media screen and (max-width:576px){
    body{
      margin: 0 5px;
      
    }
    nav{
      padding: 0px;
    }
    .banner{
      padding: 0px;
    }
    .banner,
    .modern,
    .satellite{
      flex-direction: column;
    }
    .banner-content{      
      margin: 0px 5px;
    }    
    .news-content{
      padding: 0 20px;
    }
    .footer{
      display:block;
      padding: 40px 5px;
      margin: 0;
    }
    .dim{
      margin: 10px;
      padding: 10px;
    }
  }